<div class="question" [formGroup]="formGroup">
	<label [attr.for]="question.key">{{ question.label }}</label>

	<ng-container [ngSwitch]="question.controlType">
		<input
			*ngSwitchCase="formControlType.TEXT"
			type="text"
			[formControlName]="question.key"
			[id]="question.key"
		/>
		<input
			*ngSwitchCase="formControlType.PASSWORD"
			type="password"
			[formControlName]="question.key"
			[id]="question.key"
		/>
		<input
			*ngSwitchCase="formControlType.NUMBER"
			type="number"
			[formControlName]="question.key"
			[id]="question.key"
		/>
		<app-int-question
			*ngSwitchCase="formControlType.INTEGER"
			[formControlName]="question.key"
			[id]="question.key"
			[question]="question"
		></app-int-question>
		<app-select-question
			*ngSwitchCase="formControlType.DROPDOWN"
			[formGroup]="formGroup"
			[question]="question"
		></app-select-question>
	</ng-container>
	<div class="error-box" *ngIf="isInvalidAndDirty()">
		<ng-container *ngFor="let errorKey of errorKeys">
			<p class="error">
				{{ question.validatorsMap.get(errorKey)?.errorDescription() }}
			</p>
		</ng-container>
	</div>
</div>
