<div class="home-container">
	<section class="hero">
		<div class="left-col">
			<p class="subhead">Game time!</p>
			<h1 class="head">Play realtime card games<br />with your friends.</h1>

			<div class="hero-cta">
				<app-button class="interactive" text="Start now!" (btnClick)="onStartClick()"></app-button>
				<a href="#" class="link interactive">
					<i class="bi bi-camera-reels"></i>
					Watch a video
				</a>
			</div>
		</div>
	</section>
	<div class="perspective">
		<div *ngFor="let cell of arrayForCellsCreation" class="cell"></div>

		<div class="content">
			<img src="/assets/images/spades.png" alt="spades" class="suite" />
		</div>
	</div>
</div>
