<div class="home-container">
	<section class="hero">
		<div class="left-col">
			<p class="subhead">Game time!</p>
			<h1 class="head">Play realtime card games with your friends.</h1>

			<div class="hero-cta">
				<app-button text="Start now!" (btnClick)="redirectToGames()"></app-button>
				<a href="#" class="link">
					<i class="bi bi-camera-reels"></i>
					Watch a video
				</a>
			</div>
		</div>
		<img src="/assets/images/home-cards.png" alt="cards" class="home-image" />
	</section>
</div>
