:root {
	--white: #ffffff;
	--lighter-gray: #f2f2f2;
	--light-gray: #b1b1b1;
	--gray: #808080;
	--dark-gray: #444444;
	--darker-gray: #222222;
	--black: #000000;

	--light-yellow: #f6e976;

	--light-red: #ffa7a7;
	--red: #ff0000;
	--dark-red: #660404;

	--light-blue: #a7bef1;
	--blue: #2b63db;
	--dark-blue: #0a0191;

	--antique-brass: #cb997e;
	--lighter-desert-sand: #daccc3;
	--desert-sand: #ddbea9;
	--champagne-pink: #ffe8d6;
	--ash-gray: #b7b7a4;
	--artichoke: #a5a58d;
	--ebony: #6b705c;

	--primary: var(--blue);
	--accent: var(--desert-sand);
	--background: var(--champagne-pink);
}
