@import '~bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import './colors.scss';

*,
*:before,
*:after {
	box-sizing: border-box;
}

* {
	font-family: 'Poppins';
}

html {
	height: 100%;
}

body {
	margin: 0;
	background-color: var(--background);
	height: 100%;
}

a {
	text-decoration: none;
	color: var(--dark-gray);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.no-animation {
	animation: none !important;
}
