.game-screen-component {
	display: flex;
	flex-direction: column;
	align-items: center;

	.form {
		width: 30rem;
	}

	.phaser {
		margin-top: 20px;

		phaser-component {
			display: block;
			outline: 5px var(--accent);
			outline-style: solid;
		}
	}
}
