<div *ngIf="isPasswordProtected && !isRenderGame">
	<form #form="ngForm" (ngSubmit)="onSubmit(form)">
		<div class="alert alert-danger" *ngIf="isWrongPassword">Incorrect password</div>
		<label for="password">Password</label>
		<input
			id="password"
			class="form-control"
			type="password"
			required
			minlength="3"
			maxlength="20"
			pattern="[a-zA-Z0-9!@#$%^&*]+"
			ngModel
			name="password"
			#password="ngModel"
		/>
		<div class="alert alert-danger" *ngIf="password.touched && !password.valid">
			<div *ngIf="password.errors?.required">Password required</div>
			<div *ngIf="password.errors?.minlength">
				Min {{ password.errors?.minlength.requiredLength }} characters
			</div>
			<div *ngIf="password.errors?.maxlength">
				Max {{ password.errors?.maxlength.requiredLength }} characters
			</div>
			<div *ngIf="password.errors?.pattern">Only alphanumeric and !@#$%^&* allowed</div>
		</div>
		<button class="btn btn-primary" type="submit" [disabled]="form.invalid">Submit</button>
	</form>
</div>
<div *ngIf="isRenderGame">
	<!-- TODO: game room logger: https://github.com/avatsaev/ngx-log-monitor -->
	<!-- <div class="log-monitor-wrapper">
		<log-monitor
			[logStream]="(logStream$ | async)!"
			theme="light"
			title="Game room log"
			[animated]="true"
			[icons]="false"
		></log-monitor>
	</div> -->
	<div>
		<phaser-component (gameReady)="onGameReady($event)" [gameConfig]="phaserConfig" [Phaser]="phaser">
		</phaser-component>
	</div>
</div>
