.game-screen-component {
	display: flex;
	flex-direction: column;
	align-items: center;

	.form {
		width: 30rem;
	}

	.phaser {
		margin-top: 20px;
		border: 5px var(--accent);
		border-style: solid;

		phaser-component {
			height: 1000px;
			display: block;
		}
	}
}
