<form #form="ngForm" (ngSubmit)="onSubmit(form)">
	<div *ngIf="areCredentialsInvalid">Incorrect username or password</div>
	<div *ngIf="isUsernameTaken">User with that username already exists</div>
	<div>
		<label for="username">Username</label>
		<input
			id="username"
			class="form-control"
			type="text"
			required
			minlength="6"
			maxlength="20"
			pattern="[a-zA-Z0-9_]+"
			ngModel
			name="username"
			#username="ngModel"
		/>
		<div *ngIf="username.touched && !username.valid">
			<div *ngIf="username.errors?.required">Username required</div>
			<div *ngIf="username.errors?.minlength">
				Min {{ username.errors?.minlength.requiredLength }} characters
			</div>
			<div *ngIf="username.errors?.maxlength">
				Max {{ username.errors?.maxlength.requiredLength }} characters
			</div>
			<div *ngIf="username.errors?.pattern">Only alphanumeric and underscore allowed</div>
		</div>
		<label for="password">Password</label>
		<input
			id="password"
			class="form-control"
			type="password"
			required
			minlength="6"
			maxlength="20"
			pattern="[a-zA-Z0-9!@#$%^&*]+"
			ngModel
			name="password"
			#password="ngModel"
		/>
		<div *ngIf="password.touched && !password.valid">
			<div *ngIf="password.errors?.required">Password required</div>
			<div *ngIf="password.errors?.minlength">
				Min {{ password.errors?.minlength.requiredLength }} characters
			</div>
			<div *ngIf="password.errors?.maxlength">
				Max {{ password.errors?.maxlength.requiredLength }} characters
			</div>
			<div *ngIf="password.errors?.pattern">Only alphanumeric and !@#$%^&* allowed</div>
		</div>
	</div>
	<button type="submit" [disabled]="form.invalid">Submit</button>
</form>
