.btn {
	background: var(--primary);
	border-radius: 5rem;
	border: 0px;
	white-space: nowrap;

	color: var(--white);
	font-weight: bold;

	cursor: pointer;
	transition: all 0.3s ease;

	&.l {
		font-size: 1.5rem;
		padding: 0.9rem 1.4rem;
	}

	&.m {
		font-size: 1rem;
		padding: 0.8rem 1.3rem;
	}

	&.s {
		font-size: 0.6;
		padding: 0.5rem 1rem;
	}

	&:not([disabled]):hover {
		background-color: var(--dark-blue);
	}

	&[disabled] {
		background: var(--gray);
		cursor: default;
	}

	&:not([disabled]):active {
		transform: scale(95%);
	}
}
